[Unit]
Description=LVS and VRRP High Availability Monitor
After=network-online.target syslog.target 
Wants=network-online.target 
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=notify
User=root
Group=root
NotifyAccess=all
EnvironmentFile=-/opt/keepalived/conf/sysconfig/keepalived
ExecStart=/opt/keepalived/bin/keepalived --dont-fork $KEEPALIVED_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/opt/keepalived/run/keepalived.pid
KillMode=process
Restart=on-failure
RestartSec=60
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
